@import "./utils/variables";
@import "./base/normalize";
@import "./base/base";
@import "./utils/mixins";
@import "./components/header";
@import "./components/footer";

.portfolio {
  &__list {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px auto 40px;
  }
}

.navigation {
  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: $main-color;
    padding: 6px 22px;
    background-color: $potfolio-btn-bg;
    border-radius: 4px;
    border: inherit;
    transition: background-color $timing-transition, color $timing-transition,
      box-shadow $timing-transition;

    &:hover,
    &:focus {
      background-color: $brand-color;
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// ================================> Продукція <================================

.production {
  &__title {
    font-size: 0;
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
  }

  &__item {
    flex-basis: calc(100% / 3 - $card-list-gap);
    background-color: #ffffff;
  }

  &__link {
    display: inline-block;
    border: 1px solid #eeeeee;
    transition: box-shadow $timing-transition;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .production__text,
    &:focus .production__text {
      transform: translateY(0);
    }
  }

  &__wrapper-content {
    position: relative;
    overflow: hidden;
    max-height: 294px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(100%);
    background: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;

    transition: transform $timing-transition;
  }

  &__content {
    padding: 20px 0 20px 24px;
  }

  &__name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $main-color;
    margin-bottom: 4px;
  }

  &__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $descr-color;
  }
}
