@import "../utils/variables";
@import "../base/_normalize";
@import "../base/base";
@import "../utils/mixins";

.footer {
  background-color: $secondary-bg;
  padding: 60px 0;
  text-align: center;

  &__inner-content + &__inner-content {
    margin-top: 60px;
  }

  &__logo {
    display: inline-block;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 8px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color $timing-transition;

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__soc-list {
    @include flexContainer(flex, space-between);
    width: calc(44px * 4 + 30px);
    margin: 0 auto;
  }

  &__soc-item {
  }

  &__soc-link {
    @include flexContainer(flex, center, center);
    padding: 12px;
    color: #ffffff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $timing-transition;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: $brand-color;
    }
  }

  &__soc-icon {
    fill: currentColor;
  }

  &__field {
    > label {
      margin-bottom: 20px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: #ffffff;
  }

  &__subscribe {
    @include flexContainer(flex, flex-start, center);
    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 31px;
    max-width: 200px;
    margin: 20px auto 0;
    color: #ffffff;
    transition: background-color $timing-transition;

    &:hover,
    &:focus {
      background-color: $hover-btn;
    }
  }

  &__subscribe-icon {
    margin-left: 12px;
  }

  @media screen and (min-width: 768px) {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }

    &__inner-content:first-child {
      margin-right: 165px;
    }

    &__inner-content:last-child {
      min-width: 450px;
    }
  }

  @media screen and (min-width: 1057px) {
    text-align: left;
    &__inner {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &__inner-content:first-child {
      margin-right: 0;
    }

    &__field {
      display: flex;
    }

    &__inner-content:last-child {
      max-width: 100%;
    }

    &__input {
      width: 358px;
    }

    &__subscribe {
      max-width: 200px;
      max-height: 50px;
      margin: 0 0 0 12px;
    }
  }
}

.connection {
  &__nav-footer {
  }
  &__item-footer + &__item-footer {
    margin-top: 8px;
  }
}
