.header {
  position: relative;
  &__container {
    height: 60px;
    @include flexContainer(flex, space-between, center);
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }

  &__icon {
    display: none;
  }
}

.phone {
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu {
  &__list {
    transform: translateY(-100%);
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #ffffff;
    transition: transform 0.6s $timing-transition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 60px;
  }

  &.is-open &__list {
    transform: translateY(0);
  }

  &__item + &__item {
    margin-top: 32px;
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: $main-color;
    transition: color $timing-transition;
    padding: 10px 0;

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }

  &__link--current {
    color: $brand-color;
  }

  &__soc-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
  }

  &__soc-item {
    position: relative;
  }

  &__soc-item + &__soc-item {
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
    }
  }

  &__soc-link {
    color: $brand-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding: 5px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  font-style: normal;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: 0.03em;

  > span {
    color: $brand-color;
  }

  @media screen and (min-width: 769px) {
    font-size: 26px;
  }
}

.menu-btn {
  position: relative;
  z-index: 1000;
  background-color: transparent;
  .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-open {
    display: none;
  }
}

.connection {
  &__nav-header {
    display: flex;
    flex-direction: column;
  }

  &__item:nth-child(2) {
    order: -1;
    margin-bottom: 32px;
  }

  &__item:nth-child(1) {
    margin-bottom: 64px;
  }
}
