.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  &__container {
    height: 60px;
    @include flexContainer(flex, space-between, center);

    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 12px;
      line-height: calc(14px / 12px);
      letter-spacing: 0.02em;
      color: #757575;
      @include flexContainer(flex, flex-start, center);
    }
  }

  &__icon {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: #757575;
      margin-right: 8px;
    }
  }
}

.phone {
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: $brand-color;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14px / 12px);
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__list {
    transform: translateY(-110%);
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #ffffff;
    transition: transform 0.6s $timing-transition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 60px;

    @media screen and (min-width: 768px) {
    }
  }

  &.is-open &__list {
    transform: translateY(0);
  }

  &__item + &__item {
    margin-top: 32px;
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: $main-color;
    transition: color $timing-transition;
    padding: 10px 0;

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }

  &__link--current {
    color: $brand-color;
  }

  &__soc-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
  }

  &__soc-item {
    position: relative;
  }

  &__soc-item + &__soc-item {
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
    }
  }

  &__soc-link {
    color: $brand-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding: 5px;
  }

  @media screen and (min-width: 768px) {
    .menu {
      &__nav {
        @include flexContainer(flex, space-between, center);
      }

      &__link {
        font-size: 14px;
        line-height: calc(16px / 14px);
        letter-spacing: 0.02em;
      }
    }

    .menu__item + .menu__item {
      margin-top: 0px;
    }
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  font-style: normal;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: 0.03em;

  > span {
    color: $brand-color;
  }

  @media screen and (min-width: 769px) {
    font-size: 26px;
  }
}

.icon-open,
.icon-close {
  transition: fill $timing-transition;
}

.menu-btn {
  position: relative;
  z-index: 1000;
  background-color: transparent;

  &:hover .icon-open,
  &:hover .icon-close {
    fill: $brand-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
  .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-open {
    display: none;
  }
}

.connection {
  &__nav-header {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
    }
  }

  &__item:nth-child(2) {
    order: -1;
    margin-bottom: 32px;
  }

  &__item:nth-child(1) {
    margin-bottom: 64px;
  }
}

.menu-desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 100%;

    &__wrapper {
      @include flexContainer(flex, space-between, center);
    }

    &__navigation-wrapper {
      @include flexContainer(flex);
      > .header__logo {
        margin-right: 88px;
      }
    }

    &__navigation {
      @include flexContainer(flex, space-between, center);
    }

    &__item + &__item {
      margin-left: 50px;
    }

    &__link {
      padding: 32px 0;
      color: $main-color;
      transition: color $timing-transition;

      &:hover,
      &:focus {
        color: $brand-color;
      }

      &.menu-desktop__link--current {
        color: $brand-color;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background-color: $brand-color;
          border-radius: 2px;
        }
      }
    }
  }
}

.desktop-connection {
  &__item {
    > .header__link {
      transition: color $timing-transition;
      &:hover,
      &:focus {
        color: $brand-color;
      }

      > .header__icon {
        transition: fill $timing-transition;
      }

      &:hover .header__icon,
      &:focus .header__icon {
        fill: $brand-color;
      }

      @media screen and (min-width: 870px) {
        padding: 32px 0;
      }
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }

  @media screen and (min-width: 870px) {
    display: flex;
    align-items: center;

    &__item + &__item {
      margin-top: 0px;
      margin-left: 30px;
    }
  }
}
