* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-size: 16px;
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
